<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/static/css/desc/common.css">
  <style>
    h2.toStart a {
      color: indianred;
    }

    body {
      text-align: center;
    }
    input{
      width: 75px;
      font-size: inherit;
      border: none;
      padding-left: 15px;
    }
    .link{
      text-decoration: none;
      color: indianred;
    }
    .link:hover {
      text-decoration: underline;
    }

  </style>
</head>
<body>
<h2 class="toStart"><a target="_blank" href="http://rpo.chinahr.com">进入项目</a></h2>
<h3><a href="/">回首页</a></h3>
<h2><a class="link" href="/static/noteassistant/index.html">原版</a></h2>
<h2><a class="link" href="/static/new_note/index.html">重构版</a></h2>
<script src="/static/js/spax.js"></script>

</body>
</html>
