<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/static/css/desc/common.css">
  <style>
    h2.toStart a {
      color: indianred;
    }

    body {
      text-align: center;
    }
  </style>
</head>
<body>
<h2 class="toStart"><a target="_blank" href="http://rpo.chinahr.com">进入项目</a></h2>
<h3><a href="/">回首页</a></h3>
<div>
  <p><a target="_blank" href="http://event.chinahr.com/campaign/pofeng/mhome">M端专场</a></p>
  <p><a target="_blank" href="http://event.chinahr.com/campaign/pofeng/pchome">PC端专场</a></p>
  <p><a target="_blank" href="http://event.chinahr.com/campaign/pofeng/getb">B端HTML5(假数据)</a></p>
  <p><a target="_blank" href="http://event.chinahr.com/campaign/pofeng/getc">C端HTML5(假数据)</a></p>
</div>
<script src="/static/js/spax.js"></script>

</body>
</html>
