<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>静态数据平台</title>

  <!-- Bootstrap -->
  <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link rel="stylesheet" href="/static/css/template.css">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">静态数据平台</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/template">模板</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/data">数据</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    </div>
  </div>
</div>

<div class="baffle">
  <div class="pop-frame">
    <a class="closeBtn" href="javascript:method.list.closeImport()">✕</a><h4>导入模板及数据</h4>
    <form  enctype="multipart/form-data"  class="uploadTemplateData" onsubmit="window.method.uploadTemplateData(event);" target="_self" action="/template/upload" method="post">
      <input class="input-file" name="excel" type="file">
      <div class="btnArea">
        <input type="submit" class="btn btn-primary" onclick="" value="提交">
        <button type="button" class="btn btn-warn" onclick="window.method.list.closeImport()">取消</button>
      </div>
    </form>
  </div>
</div>

<script type="text/html" id="edit">

  <h3 class="page-header">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1">
        <button type="button" class="btn btn-default btn-sm " onclick="router.goBack()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </div>
      <div class=" inner-title">
        <span class="type" data-template="模板编辑:" data-field="列表编辑:"></span>
        <input type="text" class="form-control check-value-val alias" onkeyup="method.edit.checkDirty()"
               onblur="method.edit.checkDirty()">
      </div>
    </div>
  </h3>
  <div class="row">
    <div class="col-sm-2 col-xs-2 col-md-2 inner-slider">
      <div class="btn-group btn-group-justified" style="margin-bottom: 1rem">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" onclick="method.edit.addItem('text')">添加文本</button>
        </div>
      </div>
      <div class="btn-group btn-group-justified" style="margin-bottom: 1rem">
        <div class="btn-group">
          <button type="button" class="btn btn-info" onclick="method.edit.addItem('list')">添加列表</button>
        </div>
      </div>

      <div class="btn-group btn-group-justified" style="margin-bottom: 1rem">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-save" onclick="method.edit.saveList()">保存</button>
        </div>
      </div>
      <div class="row alert alert-success dirty-alert" role="alert">数据未改动</div>


    </div>
    <div class=" col-xs-10    col-xs-offset-3 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 inner-main"></div>
  </div>
  <div style="margin-top: 3rem; " class="row">
    <ul style="max-height: 450px;overflow-y: scroll; "
        class="list-group col-md-8 col-sm-9 col-xs-10 list-area"></ul>
  </div>

</script>
<script type="text/html" id="list">
  <h3 class="page-header">模板列表</h3>
  <div class="row">
    <div class=" col-xs-2">
      <div class="row">
        <div class=" col-xs-4">
          <button type="button" title="添加模板" class="btn btn-default btn-sm " onclick="method.list.addTemplate()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
        <div class=" col-xs-4">
          <button type="button" title="导入excel" class="btn btn-default btn-sm "
                  onclick="method.list.importTemplateData()">
            <span class="glyphicon glyphicon-cloud-upload"></span>
          </button>
        </div>
      </div>

    </div>

    <div class="  col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control search-text">
        <span class="input-group-btn">
            <button class="btn btn-default" onclick="method.list.search()" type="button">搜索</button>
          </span>
      </div>
    </div>
  </div>
  <div style="margin-top: 3rem; " class="row">
    <ul style="max-height: 450px;overflow-y: scroll; "
        class="list-group col-md-8 col-sm-9 col-xs-10 list-area"></ul>
  </div>
</script>
<script src="http://apps.bdimg.com/libs/jquery/1.10.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/static/js/template.js">

</script>
</body>
</html>
